<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div class="container pt-5">


        {% if user.is_authenticated %}

        <h2>
            <h1>Click the link to view your dashboard</h1>
            <a href="/todo/">    Go To Dashboard</a>

        </h2>
        <hr>

        <a href="{% url 'logout' %}">Logout</a>

        {% else %}
        <h1>Please log in to see your Personal Dashboard</h1>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
                Login
                </a>
        {% endif %}
    </div>

</body>
</html>