
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  body {
	/* background: rgba(1, 61, 80, 0.8); */
	font-family: Poppins-Regular;
}

.list-group-item{
    text-align: center;
}

#firstrow{
    background-color: #D4F9E3;
    font-size: 20px;
}