
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  body {
    background: #EEEEEE;
    /* background-image: linear-gradient(+30deg, #DEFAFF, white); */
    /* background: #E8FBFF; */
	font-family: Poppins-Regular;
}

.list-group-item{
    text-align: center;
}

#firstrow{
    background-color: #D4F9E3;
    font-size: 20px;
}

#container1{
    background-color: white; 
    border-radius: 15px;
    padding: 1.5em;
}