{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'calendarMod/styles.css' %}" />
</head>

<body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <div class="container" id = "container1" >
        {% if user.is_authenticated %}


        <div class="container">
            <a href="{% url 'gohome2' %}">Back</a>
            <h4>Welcome {{ user.get_short_name }}</h4>
            
            <p>Here are your upcoming events:</p>

            <ul class="list-group" >
                <li class="list-group-item" id = "firstrow" style="text-align: center;">
                    <div class="row">
                        <div class="col-sm">
                            Event
                        </div>
                        <div class="col-sm">
                            Start
                        </div>
                        <div class="col-sm">
                            End
                        </div>
                    </div>
                </li>
                {% for i in event %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm" style="width: 100;">
                            {{ i.title }}
                        </div>

                        <div class="col-sm" style="width: 100;">
                            {{ i.start_month_name }} {{ i.start_time.day }},
                            {{ i.starthour}}:{{i.startminute}},
                            {{ i.start_time.year }}
                        </div>
                        <div class="col-sm" style="width: 100;">
                            {{ i.end_month_name }} {{ i.end_time.day }}, {{ i.endhour}}:{{i.endminute}},
                            {{ i.end_time.year }} <a href="{% url 'delete_event' event_id=i.id %}"><i
                                    class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                {%endfor%}
            </ul>
       



        <p>Note: Times are displayed in military.</p>
    </div>

        Import your upcoming events from currently selected Google Calendars!
        <form action="{% url 'auth' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit">Import events</button>

        </form>
        <a href="{% url 'new_event' %}">Create new Event</a> <br>
        <a href="{% url 'delete_all' %}"> Delete All</a> <br>
        <a href="{% url 'calendar' %}">View calendar</a>
  
        {% else %}
        <h1>Please log in to see your Personal Dashboard</h1>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
            Login
        </a>
        {% endif %}
    </div>
</body>