{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To-do View </title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
</head>

<body style = "background-color: #EEEEEE;">
			{% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-dark" style="background: #3B8DE1;">
		<a class="navbar-brand" href="..">Dash</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
		  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
		  <ul class="navbar-nav mr-auto">
	
			<li class="nav-item">
			  <a class="nav-link" href="/todo">To-Do</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/grades">Grades</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/calendar">Events</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/calendar/view">Calendar</a>
			</li>
		  </ul>
	
		  <!-- Topbar Navbar -->
		  <ul class="navbar-nav ml-auto">
	
	
			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow">
			  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<span class="mr-2 d-none d-lg-inline text-gray-600">{{user.get_short_name}}</span>
			  </a>
			  <!-- Dropdown - User Information -->
			  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
	
				<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
				  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
				  Logout 
				</a>
			  </div>
			</li>
	
		  </ul>
		</div>
	  </nav>

	  <!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</div>
</div>

	<div class="container">
		
		<div class="container-fluid" id="wrapper">
			<div class="page-content page-container" id="page-content">
				<div class="padding">
					<div class="row container d-flex justify-content-center">
						<div class="col-xl-16">
							<div class="card px-1">
								<div class="card-body">
									<h4 class="card-title">Todo list</h4>

									<form action="{% url 'add' %}" method="POST" role="form">
										{% csrf_token %}
										<div class="form-group">
											<div class="input-group">
												<div style = "width: 100%; margin-bottom: 10px;">{{ form.text }}
												</div>
													{{form.date}}
												<div style = "margin-left: 5px;"> </div>
													{{form.group}}
												
												<div style = "margin: auto; margin-left: 40px;">
													<span class="input-group-btn">
														<button type="submit"
															class="add btn btn-primary font-weight-bold todo-list-add-btn">ADD TODO</button>
														<div class="btn-group">
															<a href="{% url 'deletecomplete' %}"><button type="button"
																	class="btn btn-warning">
																	<i class="glyphicon glyphicon-trash"></i> DELETE
																	COMPLETED
																</button></a>
														</div>
														<div class="btn-group">
															<a href="{% url 'deleteall' %}"><button type="button"
																	class="btn btn-warning">
																	<i class="glyphicon glyphicon-trash"></i> DELETE ALL
																</button></a>
													</span>
												</div>
											</div>
										</div>
									</form>
									<div><p>

									</p></div>
									<div>
									<p align="center">Click on an item in your Todo List to mark it as complete</p>
									</div>
									<div class="card-group" style = "margin-top: 20px;">
										<div class="card text-center" style="width: 18rem;">
											<div class="card-header">
												School
											</div>
											{% for todo in todo_list %}
											{% if todo.group == "School" %}
											{% if todo.complete %}
											<a href="{% url 'deselect' todo.id %}">
												<li class="list-group-item todo-completed">{{todo.due_date}} --
													{{ todo.text }} -- {{todo.group}}</li>
											</a>
											{% else %}
											<a href="{% url 'complete' todo.id %}">
												<li class="list-group-item">{{todo.due_date}} -- {{ todo.text }} --
													{{todo.group}}</li>
											</a>
											{% endif %}
											{% endif %}
											{% endfor %}
										</div>

										<div class="card text-center" style="width: 18rem;">
											<div class="card-header">
												Leisure
											</div>
											{% for todo in todo_list %}
											{% if todo.group == "Leisure" %}
											{% if todo.complete %}
											<a href="{% url 'deselect' todo.id %}">
												<li class="list-group-item todo-completed">{{todo.due_date}} --
													{{ todo.text }} -- {{todo.group}}</li>
											</a>
											{% else %}
											<a href="{% url 'complete' todo.id %}">
												<li class="list-group-item">{{todo.due_date}} -- {{ todo.text }} --
													{{todo.group}}</li>
											</a>
											{% endif %}
											{% endif %}
											{% endfor %}
										</div>

										<div class="card text-center" style="width: 18rem;">
											<div class="card-header">
												Financial
											</div>
											{% for todo in todo_list %}
											{% if todo.group == "Financial" %}
											{% if todo.complete %}
											<a href="{% url 'deselect' todo.id %}">
												<li class="list-group-item todo-completed">{{todo.due_date}} --
													{{ todo.text }} -- {{todo.group}}Done</li>
											</a>
											{% else %}
											<a href="{% url 'complete' todo.id %}">
												<li class="list-group-item">{{todo.due_date}} -- {{ todo.text }} --
													{{todo.group}}</li>
											</a>
											{% endif %}
											{% endif %}
											{% endfor %}
										</div>

										<div class="card text-center" style="width: 18rem;">
											<div class="card-header">
												Miscellaneous
											</div>
											{% for todo in todo_list %}
											{% if todo.group == "Misc" %}
											{% if todo.complete %}
											<a href="{% url 'deselect' todo.id %}">
												<li class="list-group-item todo-completed">{{todo.due_date}} --
													{{ todo.text }} -- {{todo.group}}Done</li>
											</a>
											{% else %}
											<a href="{% url 'complete' todo.id %}">
												<li class="list-group-item">{{todo.due_date}} -- {{ todo.text }} --
													{{todo.group}}</li>
											</a>
											{% endif %}
											{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>



	{% else %}
	<!-- <meta http-equiv="Refresh" content="0; url= {% url 'gohome3'%}" /> -->
	
	{%endif%}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</html>
