{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
</script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js">
// $('#pointscheck').change(function(){
//     $('#points').submit()
// });
// $("#checkbox-container :checkbox").on("change",function(){
//     alert("bro");
// })
</script>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<html>
<!-- <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
    
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Year', 'Sales', 'Expenses'],
              ['2004',  1000,      400],
              ['2005',  1170,      460],
              ['2006',  660,       1120],
              ['2007',  1030,      540]
            ]);
    
            var options = {
              title: 'Company Performance',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
    
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    
            chart.draw(data, options);
          }
        </script>
      </head> -->

<head>
    <link rel="stylesheet" href="{% static 'grades/styles.css' %}" />
    <style>
        /* https://www.w3schools.com/howto/howto_css_switch.asp */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #3B8DE1;">
        <a class="navbar-brand" href="/">asd-dash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
    
            <li class="nav-item">
              <a class="nav-link" href="/todo">To-Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/grades">Grades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar/view">Calendar</a>
            </li>
          </ul>
    
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
    
    
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600">{{user.get_short_name}}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
    
          </ul>
        </div>
      </nav>
    {% if user.is_authenticated %}

    <div class="container" style = "margin-top: 2%;" id = "container2">
        <!-- <div id="curve_chart" style="width: 900px; height: 500px"></div> -->

        {% if indCourse %}
        {% if indCourse.pointbased is True %}
        <script>
            localStorage.removeItem('pointbased')

        </script>
        {% else %}
        <script>
            localStorage.removeItem('pointbased')
            localStorage.setItem('pointbased', 'point')
        </script>
        {%endif%}
        <div style="display: inline;">
            <div style="float:left;padding-top: 20px;">
                <a href="{% url 'grades:index' %}"><i class="fa fa-angle-left"></i> Back</a>
            </div>
            <div class="row" style="float: right; padding-top: 20px;">
                <div style="float: left; font-size: 15px; padding-right: 10px; padding-top: 5px;">
                    Percentage-based
                </div>
                <div id="checkbox-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label class="switch">
                            {{ points }}

                            <span class="slider round"></span>
                        </label>
                        <script>
                            //https://www.sitepoint.com/quick-tip-persist-checkbox-checked-state-after-page-reload/
                            var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {};
                            var point = JSON.parse(localStorage.getItem('pointbased')) || {};
                            var $checkboxes = $("#checkbox-container :checkbox");

                            $checkboxes.on("change", function () {
                                $checkboxes.each(function () {
                                    checkboxValues[this.id] = this.checked;
                                });
                                localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
                            });
                            $.each(checkboxValues, function (key, value) {
                                if (point == "point") {
                                    $("#" + key).prop('checked', false);
                                } else {
                                    $("#" + key).prop('checked', true);
                                }
                            });
                        </script>
                    </form>
                </div>
                <div style="float: right; font-size: 15px; padding-left: 10px; padding-top: 5px;">
                    Point-based
                </div>
            </div>
            <div style="text-align: center; font-size: 40px;">
                <strong>{{ indCourse.course_name }}</strong>
                
            </div>

        </div>


        

        {% if indCourse.pointbased is False %}
        {% if indCourse.course_grade == 0 is True %}
        <div>
            <h2 style="float: left;">Current grade:</h2>
            <h2 style="color: black; padding-left: 8em;"> {{ indCourse.course_grade }}%</h2>
        </div>
        {% elif indCourse.improved is False %}
        <div>
            <h2 style="float: left;">Current grade:</h2>
            <h2 style="color: red; padding-left: 8em;"> {{ indCourse.course_grade }}%<i class="fa fa-angle-down"
                    style="color: red; padding-left: 5px;"></i></h2>
        </div>
        {% elif indCourse.improved is True %}
        <div>
            <h2 style="float: left;">Current grade:</h2>
            <h2 style="color: #39D043; padding-left: 8em;"> {{ indCourse.course_grade }}%<i class="fa fa-angle-up"
                    style="color: #39D043; padding-left: 5px;"></i></h2>
        </div>
        {% endif %}




        {% for assType in indCourse.asstype_set.all %}
        <ul class = "list-group">
     
            <li class = "list-group-item" style = "background-color: #D4F9E3;">
            <div class="row" style="display: flexbox; justify-content: space-between; font-size: 24px; ">
               
                <div style="  margin: auto;">
                    Category: {{ assType.ass_type }} 
                </div>
                <div style=" margin: auto;">
                    Total Weight: {{ assType.grade_percentage }}%
                        <a href="{% url 'grades:RemoveType' course_id=indCourse.id asstype_id=assType.id%}"><i
                                class="fa fa-trash"></i> </a>
                </div>
            </div>
        </li>

        {% if assType.assignment_set.exists %}
        <li class = "list-group-item" style = "text-align: center; font-size: 20px;">
            <div class="row" style = "margin: auto;">
                <div class= "col-sm" style = "margin: auto;">
                    Assignment
                </div>
               
                <div class = "col-sm" style = "margin: auto;">
                    Grade
                </div>
            </div>
        </li>
        {% for assignment in assType.assignment_set.all %}
        <li class = "list-group-item" style = "text-align: center; font-size: 20px;">
           
                <div class="row" style = "margin: auto;">
                    <div class= "col-sm" style = "margin: auto;">
                        {{ assignment.ass_name }}
                    </div>
                    <!-- <div class = "col-sm" style = "margin: auto;">
                        {{ assType.ass_type }}
                    </div> -->
                    <div class = "col-sm" style = "margin: auto;">
                        {{ assignment.grade }}%
                        <a
                        href="{% url 'grades:RemoveAssignment' course_id=indCourse.id assignment_id=assignment.id%}" ><i
                            class="fa fa-trash"></i></a>
                    </div>
                    
                </div>
               
            
       
    </li>
        {% endfor %}
     {% endif%}
    </ul>


        {% endfor %}


        {% if indCourse.asstype_set.exists %}
        <div style="position: relative; padding-top: 20px;">
            <h4>Enter New Assignment</h4>
            <form action="{% url 'grades:NewAssignment2' indCourse.id%}" method="post">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div>
                            <label for="ass_name">Assignment Name</label>
                            <input class="form-control" type="text" name="ass_name" id="assname"
                                placeholder="Assignment name" required>
                            <div class="invalid-feedback">
                                Please enter a name.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="grade">Enter Grade Achieved</label>
                        <input class="form-control" type="number" name="grade" id="grade" placeholder="E.g. 100%"
                            required>
                    </div>

                    <div class="col-md-4 mb-3">

                        <label for="ass_type">Select Assignment Type</label>
                        <select class="form-control" id="assignment_type_input" name="ass_type" required>
                            <option value="" disabled selected>Assignment Type</option>
                            {% for assType in indCourse.asstype_set.all %}
                            <option value={{ assType.id }}>{{ assType.ass_type }}</option>
                            {% endfor %}
                        </select>


                    </div>


                </div>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}

                {% endif %}

                <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
            </form>
            {% endif %}
            <div style="padding-top: 22px;">
                <h4>Enter New Assignment Type</h4>
                <div>
                    <form action="{% url 'grades:NewType' indCourse.id%}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <label for="ass_type">Assignment Type</label>
                                <input class="form-control " type="text" name="ass_type" id="ass_type"
                                    placeholder="E.g. test" required>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="grade_percentage">Assignment Weight</label>
                                <input class="form-control" type="number" name="grade_percentage" id="grade_percentage"
                                    placeholder="E.g. 25%" required>
                            </div>

                        </div>
                        {% if form2.errors %}
                        {% for field in form2 %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form2.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>



        {% else %}

        {% if indCourse.course_grade_points == 0 is True %}
        <div>
            <h2 style="float: left;">Current grade:</h2>
            <h2 style="color: black; padding-left: 8em;"> {{ indCourse.course_grade_points }}%</h2>
        </div>
        {% elif indCourse.point_improved is False %}
        <div>
            <h2 style="float: left;">Current grade:</h2>
            <h2 style="color: red; padding-left: 8em;"> {{ indCourse.course_grade_points }}%<i class="fa fa-angle-down"
                    style="color: red; padding-left: 5px;"></i></h2>
        </div>
        {% elif indCourse.point_improved is True %}
        <div>
            <h2 style="float: left;">Current grade:</h2>
            <h2 style="color: #39D043; padding-left: 8em;"> {{ indCourse.course_grade_points }}%<i
                    class="fa fa-angle-up" style="color: #39D043; padding-left: 5px;"></i></h2>
        </div>
        {% endif %}
        


        <ul class = "list-group">
            <li class = "list-group-item" style = "background-color: #D4F9E3;">
                <div class = "row" style="display: flexbox; justify-content: space-between; font-size: 24px; text-align: center; ">
                <div class="col-sm" style="width: 100; margin: auto;">
                    Assignment
                </div>
                <div class="col-sm" style="width: 100; margin: auto;">
                    Points Earned
                </div>
                <div class="col-sm" style="width: 100; margin: auto;">   
                    Total Points 
                </div>
            </div>
            </li>
            {% if indCourse.pointassignment_set.exists %}

        {% for assignment in indCourse.pointassignment_set.all %}
       
            <li class = "list-group-item" style = "font-size: 20px;">
            <div class="row" style = "margin: auto; text-align: center;">
                <div class="col-sm" style="width: 100; margin: auto;">  
                    {{ assignment.point_ass_name }} 
                </div>

                <div class="col-sm" style="width: 100; margin: auto;">
                    {{ assignment.points_achieved }}
                </div>
                <div class="col-sm" style="width: 100; margin: auto;">  
                     {{ assignment.points_total }}
                            <a
                                href="{% url 'grades:RemovePointAssignment' course_id=indCourse.id assignment_id=assignment.id%}"><i
                                    class="fa fa-trash"></i></a>
                </div>
            </div>
        </li>

        {% endfor %}
        {% endif %}
        <li class = "list-group-item" style="display: flexbox; justify-content: space-between; font-size: 24px; text-align: center; background-color: #D4F1F9;">
            <div class="row" style = "margin: auto; text-align: center;">
                <div class="col-sm" style="width: 100; margin: auto;">  
                    Total:
                </div>

                <div class="col-sm" style="width: 100; margin: auto;">
                    {{ indCourse.earned_points }}
                </div>
                <div class="col-sm" style="width: 100; margin: auto;">  
                     {{ indCourse.total_points }}
                         
                </div>
            </div>
        </li>
    </ul>
        
        <h4 style = "margin-top: 20px;">Enter New Assignment</h4>
        <form action="{% url 'grades:NewAssignment' indCourse.id%}" method="post" >
            {% csrf_token %}

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <div>
                        <label for="point_ass_name">Assignment Name</label>
                        <input class="form-control" type="text" name="point_ass_name" id="assname"
                            placeholder="Assignment name" required>
                        <div class="invalid-feedback">
                            Please enter a name.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="points_achieved">Enter Points Achieved</label>
                    <input class="form-control" type="number" name="points_achieved" id="grade" placeholder="E.g. 100"
                        required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="points_total">Enter Total Points for Assignment</label>
                    <input class="form-control" type="number" name="points_total" id="grade" placeholder="E.g. 100"
                        required>
                </div>



            </div>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}

            {% endif %}

            <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
        </form>

        {% endif %}
        {% endif %}

    </div>

    {% else %}
    <h1>Please log in to see your Personal Dashboard</h1>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
        Login
    </a>
    {% endif %}
</body>

</html>