{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!DOCTYPE html>
<html>

<head>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'grades/styles.css' %}" />
</head>

<body class = "bruh">
   
    
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #3B8DE1;">
        <a class="navbar-brand" href="..">asd-dash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
    
            <li class="nav-item">
              <a class="nav-link" href="/todo">To-Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/grades">Grades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/calendar/view">Calendar</a>
            </li>
          </ul>
    
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
    
    
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600">{{user.get_short_name}}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
    
          </ul>
        </div>
      </nav>
    <div class="container">
        <div class="container" >
            <div class="container"  id = "container2">
                <h4 class="display-4" style="text-align: left; font-size: 40px;">Welcome, {{ user.get_short_name }}</h4>
                <h4 class="display-4" style="text-align: left; font-size:28px; ">Here are your courses:</h4>
                {% if course_list %}
                <ul class="list-group">
                    {% for course in course_list %}
                    
                        <a href="{% url 'grades:toIndCourse' course.id %}"
                            class="list-group-item list-group-item-action">
                        <div class = "row" style = "text-align:center;">
                            <div class="col-sm" style = "margin: auto;">
                                {{ course.course_name }}
                            </div>
                            {% if course.pointbased is False %}
                            {% if course.improved is True %}
                            <div class="col-sm" style="float: left;color: #39d043; margin: auto;">
                                <strong>{{ course.course_grade }}%</strong><i class="fa fa-angle-up"
                                    style="color: #39D043; padding-left: 5px;"></i>
                            </div>
                            {% else %}
                            <div class="col-sm" style="float: left;color: red; margin: auto;">
                                <strong>{{ course.course_grade }}%</strong><i class="fa fa-angle-down"
                                    style="color: red; padding-left: 5px;"></i>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% if course.pointbased is True %}
                            {% if course.point_improved is True %}
                            <div class="col-sm" style="float: left;color: #39d043; margin: auto;">
                                <strong>{{ course.course_grade_points }}%</strong><i class="fa fa-angle-up"
                                    style="color: #39D043; padding-left: 5px;"></i>
                            </div>
                            {% else %}
                            <div class="col-sm" style="float: left;color: red; margin: auto;">
                                <strong>{{ course.course_grade_points }}%</strong><i class="fa fa-angle-down"
                                    style="color: red; padding-left: 5px;"></i>
                            </div>
                            {% endif %}
                            {% endif %}

                            <div class="col-sm" style = "margin: auto;">
                                {% if course.pointbased is True %}
                                Point-based
                                {% else %}
                                Percentage-based
                                {% endif %}
                            </div>
                            <div class = "col-sm">    
                                <form action="{% url 'grades:RemoveCourse' course_id=course.id %}" method="post" style = "margin: auto; ">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm" type="submit" style = "background-color: red; border-color: red;"><i class="fa fa-close"></i></button>
                                    </form>
                            </div>
                        </div>   
                    </a>

                    {% endfor %}
                    <div style="position: relative; bottom: -50">
                        <form action="{% url 'grades:NewCourse' %}" method="post">
                            {% csrf_token %}
                            <label for="name_input" style="font-size:x-large;">Create a New Course</label>
                            <input class="form-control" type="text" name="course_name" id="name_input"
                                placeholder="Course name" style="width: 150px;">
                            <div style="padding-top: 10px;">
                                <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
                            </div>
                        </form>
                    </div>
                </ul>
                {% else %}
                <ul>
                    <p>You have no courses.</p>
                    <form action="{% url 'grades:NewCourse' %}" method="post">
                        {% csrf_token %}
                        <label for="name_input" style="font-size:x-large;">Create a New Course</label>
                        <input class="form-control" type="text" name="course_name" id="name_input"
                            placeholder="Course name" style="width: 150px;">
                        <div style="padding-top: 10px;">
                            <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
                        </div>
                    </form>
                </ul>

            </div>
        </div>
    </div>
    {% endif %}
    {% else %}
    
    <h1>Please log in to see your Personal Dashboard</h1>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
        Login
    </a>
    {% endif %}
</body>

</html>