<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    
    
    <form action="{% url 'grades:AddCourseView' %}" method="post">
        {% csrf_token %}
        <label for="name_input">Enter your name</label>
        <input class = "form-control" type="text" name="name" id="name_input" value="{{ choice.id }}">
     <br> 
        <label for="suggestion_input">Enter your suggestion</label>
       <input class = "form-control" type="text" name="body" id="suggestion_input">
    <br>
    <input type="submit" value="Submit">
    </form>
    </div>
    
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        {% endfor %}
        </ul>
    {% else %}
        <p class="text-center h4">No classes have been created.</p>
    {% endif %}
    </body>

</html>