<h1> {{ indCourse.course_name }}</h1>
{% if indCourse %}
        <ul>
        {% for assignment in indCourse.assignment_set.all %}
            <p>{{ assignment.ass_name }} {{ assignment.grade }} {{ assignment.grade_percentage }}%<p>
        {% endfor %}
            <!-- <a href="/grades/assignments"> Add an assignment here </a> -->
        </ul>
{% endif %}

<form action="{% url 'grades:NewAssignment' indCourse.id%}" method="post">
    {% csrf_token %}
    <label for="name_input" style = "font-size:x-large;">Enter the assignment name</label>
    <input class = "form-control" type="text" name="course_name" id="name_input" >
   
    <label for="grade_input" style = "font-size:x-large;">Enter the assignment grade</label>
    <input class = "form-control" type="number" name="grade_input" id="grade_input" >
   
    <label for="grade_percentage" style = "font-size:x-large;">Enter the assignment percentage</label>
    <input class = "form-control" type="number" name="grade_percentage" id="grade_percentage" >
    <!-- <br>
    <label for="suggestion_input">Enter your suggestion</label>
   <input class = "form-control" type="text" name="body" id="suggestion_input"> -->
<br>
<input type="submit" value="Submit">
</form>